/*------------- BASE ------------------*/

/* RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* RESETS */

/* GLOBALS */
body {
  font-family: 'Raleway', sans-serif;
}

p {
  margin-block: 0.5rem;
}

h1,
h2 {
  font-size: 1.375rem; /* 22px */
  font-weight: bold;
}
/* GLOBALS */

/*------------- UTILS ------------------*/

.container {
  max-width: 1400px;
  margin-inline: auto; /*centre l'élement horizontalement*/
}

/*permet de forcer les éléments flex à passer à la ligne comme un <br>*/
.break {
  display: none;
}

/*CARDS*/
.card {
  color: #000000;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 20px;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 16px #0000002e;
}

.card h3 {
  font-size: 1rem;
}

.card p {
  font-size: 0.875rem; /*14px*/
}

.card > img {
  height: 124px;
  object-fit: cover;
}

.card .card-content {
  padding: 0.5rem;
}

/* VERTICAL CARDS*/
.card.card-horizontal {
  flex-direction: row;
  align-items: stretch;
  height: 144px;
}

.card.card-horizontal > img {
  width: 137px;
  height: 100%;
}

.card.card-horizontal .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card.card-horizontal .card-content .stars {
  margin-top: auto;
}

/* PORTRAIT CARDS*/
.card.card-portrait {
  border: none;
}

.card.card-portrait > img {
  height: 444px;
  width: 100%;
}

.card.card-portrait .card-content {
  padding: 1rem;
}

/*CARDS*/

/*LAYOUTS*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.list-horizontal {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.list-vertical {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-horizontal > *,
.list-vertical > * {
  flex: 1;
}
/*LAYOUTS*/

/*------------- BLOCKS ------------------*/

/*NAV*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}

nav img {
  color: #0065fc;
  width: 60px;
}

nav .menu a {
  display: inline-block;
  text-decoration: none;
  padding: 2rem 1rem;
  color: #000000;
}

nav .menu a:first-child {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
/*NAV*/

/*MAIN*/
main {
  padding: 2rem;
}
/*MAIN*/

/*SEARCH*/
.search-bar {
  width: fit-content;
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  overflow: hidden;
  margin-block: 1rem;
}

.search-bar-icon {
  padding: 1rem;
  background: #f2f2f2;
}

.search-button {
  color: white;
  background: #0065fc;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 1rem;
}

.search-button i {
  display: none;
}

.search-bar input {
  font-size: 1.125rem; /*18px*/
  font-weight: bold;
}

.search-bar input::placeholder {
  color: #000000;
  padding-left: 0.5rem;
}
/*SEARCH*/

/*FILTERS*/
.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.filters button {
  border-radius: 50px;
  border: 2px solid #d9d9d9;
  padding: 0.7rem 1rem;
  font-weight: bold;
  font-size: 1.06rem; /*17px*/
}

.filters button:hover {
  background: #deebff;
}

.filters button i {
  color: #0065fc;
  margin-right: 0.3rem;
}

.filters span {
  font-size: 1.125rem;
  font-weight: bold;
}
/*FILTERS*/

/*INFO*/
.info {
  display: flex;
  align-items: center;
  margin-block: 1rem;
}

.info .info-icon {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  color: #0065fc;
  padding: 0.5rem;
  margin-right: 1rem;
}
/*INFO*/

/*LODGING SECTION*/
.lodging {
  display: flex;
  gap: 3rem;
}

.lodging-block {
  border-radius: 20px;
  background: #f2f2f2;
  padding: 2rem;
}

.lodging-block h2 {
  margin-bottom: 1.5rem;
}

/*LODGING-CITY*/
.lodging-city {
  width: 70%;
}

.lodging-city button {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 2rem;
}
/*LODGING-CITY*/

/*LODGING-POPULAR*/
.lodging-popular {
  width: 30%;
}

.lodging-popular-icon {
  display: flex;
  justify-content: space-between;
}

.popular-icon {
  color: #0065fc;
  font-size: 1.125rem;
}
/*LODGING-POPULAR*/

/*STARS*/
.stars {
  display: flex;
  flex-direction: row;
  color: #0065fc;
}

.stars :last-child {
  color: #f2f2f2;
}
/*STARS*/

/*ACTIVITIES*/
.activities > h2 {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
/*ACTIVITIES*/

/*FOOTER*/
footer {
  padding: 2rem 2rem 0 2rem;
}

footer .footer-content {
  display: flex;
  gap: 10rem;
  background-color: #f2f2f2;
  padding: 3rem 5rem;
}

footer h3 {
  padding-bottom: 1rem;
}

footer li {
  list-style-type: none;
  padding-bottom: 0.5rem;
}
/*FOOTER*/

/*-------------MEDIA QUERIES----------------*/

/*TABLET*/
@media screen and (max-width: 991px) {
  .lodging {
    flex-direction: column;
  }

  nav .menu a {
    display: inline-block;
    text-decoration: none;
    padding: 2rem 1rem;
    color: #000000;
  }

  nav .menu a:first-child {
    color: #000000;
    border-top: none;
  }

  .list-horizontal {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .card.card-horizontal {
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 160px;
  }

  .card.card-horizontal > img {
    width: 50%;
  }

  .card.card-portrait > img {
    height: 211px;
  }

  .lodging-city {
    width: 100%;
  }

  .lodging-popular {
    width: 100%;
  }

  .list-vertical {
    display: flex;
    flex-direction: row;
  }

  .filters {
    gap: 1rem;
  }

  footer .footer-content {
    gap: 3rem;
    padding: 2rem 4rem;
  }
}
/*mobile*/
@media screen and (max-width: 767px) {
  main {
    padding: 0rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .lodging {
    flex-direction: column-reverse;
  }

  .lodging-city {
    background: none;
  }

  .list-vertical {
    flex-direction: column;
  }

  .list-horizontal {
    flex-direction: column;
  }

  footer {
    padding-inline: 0;
  }
  footer .footer-content {
    flex-direction: column;
  }

  .card.card-portrait > img {
    height: 134px;
    width: 100%;
  }

  .activities {
    padding-inline: 1.5rem;
  }

  .lodging-block {
    border-radius: 0;
  }

  .options {
    padding: 2rem 1rem 1rem;
  }

  .info {
    margin-top: 2rem;
  }

  .search-button i {
    display: inline-block;
  }

  .search-button span {
    display: none;
  }

  .search-bar {
    width: auto;
    margin-block: 2rem;
  }

  .search-bar input {
    flex-grow: 1;
  }

  /* https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
  .filters .break {
    flex-basis: 100%;
    height: 0;
    display: block;
  }

  .filters {
    gap: 0.5rem;
  }

  .filters button {
    font-size: 0.7rem; /*11px*/
    flex: 1;
    text-align: left;
    padding: 1rem;
  }

  nav {
    padding: 0;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  nav .logo img {
    display: block;
    margin-inline: auto;
    margin-top: 1rem;
  }

  nav > * {
    flex: 1;
  }

  nav .menu {
    display: flex;
    justify-content: stretch;
  }

  nav .menu > * {
    flex: 1;
    text-align: center;
  }

  nav .menu a {
    padding: 1.5rem;
    border-bottom: 3px solid #f2f2f2;
  }

  nav .menu a:first-child {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
  }

  footer .footer-content {
    gap: 2rem;
  }
}
